<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.appancona">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Punti_interesse.TipiPunti_interesse"
                  android:label="@string/label_icona1"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Punti_interesse.ElencoPunti_interesse"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Punti_interesse.SingoloPunto_interesse"
        android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MappaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ristorazione.ElencoRistoranti"
                  android:label="@string/label_icona2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ristorazione.SingoloRistorante"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Pernottamento.ElencoHotel"
                  android:label="@string/label_icona3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Pernottamento.SingoloHotel"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Percorsi.ElencoPercorsi"
                  android:label="@string/label_icona4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Percorsi.SingoloPercorso"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.TipiServizi"
                  android:label="@string/label_icona5"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.ElencoServizi"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.SingoloServizio"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.Citta"
                  android:label="@string/label_icona6"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.ElencoNegozi_tipici"
            android:label="@string/label_citta3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.SingoloNegozio_tipico"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.Visitarla"
            android:label="@string/label_citta2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.Tradizioni"
            android:label="@string/label_citta4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MenuActivity"
            android:label="About us"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.RicercaActivity"
                  android:label="Ricerca"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_punti_interesse"
            android:label="Ricerca Punti d'interesse"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_ristorazione"
            android:label="Ricerca Ristorazione"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_pernottamento"
            android:label="Ricerca Pernottamento"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_servizi"
            android:label="Ricerca Servizi"
            android:screenOrientation="portrait">
        </activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

</manifest>