<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.appancona">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Punti_interesse.Punti_interesseActivity"
                  android:label="@string/label_icona1"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Punti_interesse.Punti_interesse2Activity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Punti_interesse.Punti_interesse3Activity"
        android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MappaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ristorazione.RistorazioneActivity"
                  android:label="@string/label_icona2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ristorazione.Ristorazione2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Pernottamento.PernottamentoActivity"
                  android:label="@string/label_icona3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Pernottamento.Pernottamento2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Percorsi.PercorsiActivity"
                  android:label="@string/label_icona4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Percorsi.Percorsi2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.ServiziActivity"
                  android:label="@string/label_icona5"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.Servizi2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi.Servizi3Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.CittaActivity"
                  android:label="@string/label_icona6"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.Negozi_tipiciActivity"
            android:label="@string/label_citta3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.Negozi_tipici2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.VisitarlaActivity"
            android:label="@string/label_citta2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Città.TradizioniActivity"
            android:label="@string/label_citta4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MenuActivity"
            android:label="About us"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.RicercaActivity"
                  android:label="Ricerca"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_punti_interesseActivity"
            android:label="Ricerca Punti d'interesse"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_ristorazioneActivity"
            android:label="Ricerca Ristorazione"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_pernottamentoActivity"
            android:label="Ricerca Pernottamento"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ricerca.Ricerca_serviziActivity"
            android:label="Ricerca Servizi"
            android:screenOrientation="portrait">
        </activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

</manifest>