<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.appancona">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Punti_interesseActivity"
                  android:label="@string/label_icona1"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Punti_interesse2Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RistorazioneActivity"
                  android:label="@string/label_icona2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PernottamentoActivity"
                  android:label="@string/label_icona3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PercorsiActivity"
                  android:label="@string/label_icona4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ServiziActivity"
                  android:label="@string/label_icona5"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Servizi2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CittaActivity"
                  android:label="@string/label_icona6"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Negozi_tipiciActivity"
            android:label="@string/label_citta3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RicercaActivity"
                  android:label="Ricerca"
            android:screenOrientation="portrait">
        </activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
</manifest>